:root{
    --green: #59ab6e;
    --green-light: #0deb44;
    --black: #212934;
    --gray-light: #cfd6e1;
    --white: #efefef;
    --gray: #d7ccc4;
    --light-blue:#e9eef5;
    --coffe: #534c4a;
    --blue-dark:#1d242d;
}

body{
    font-family: sans-serif;
}

.section-head{
    background-color: var(--black);

    padding: 15px;
}

.container{
    max-width: 1600px;
    margin: auto;
}

.section-information{
    display: flex;
    justify-content: space-between;
}

.section-information__content a{
    color: var(--gray-light);
    font-size: 12px;
    text-decoration: none;
}

.section-information__content a i{
    margin: 0 10px;
    font-size: 15px;
}

.icons a i{
    margin: 0 7px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 0 40px;
}

nav ul li a{
    font-size: 25px;
    color: var(--black);
    text-decoration: none;
    padding: 37px 20px 37px 20px;
}

nav ul li a:hover{
    background-color: var(--black);
    color: var(--white);
    transition: all 0.5s ease;
    box-shadow: 4px 4px 8px var(--black);
}

.logo{
    color: var(--green);
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
}

.section-header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 20px 25px;
}

.section-header__content a i{
    font-size: 25px;
    margin: 0 10px;
}

h1{
    color: var(--green);
    font-size: 60px;
}

.text-light{
    font-weight: 100;
}

.section-hero{
    background-color: var(--white);
}

.section-hero__content{
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-hero__content span:nth-child(2){
    font-weight: 600;
    font-size: 30px;
}

.section-hero__content p{
    font-size: 20px;
}

.section-hero__content p a{
    color: var(--green);
}

.section-hero__items{
    display: flex;
    justify-content: space-between;
    padding:80px 60px 60px 60px;
}

.section-hero__image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-hero__image img{
    width: 80%;
}

.section-about{
    padding: 70px 0 70px 0;
}

.section-about__content h2{
    text-align: center;
    font-size: 50px;
    margin: auto;
    font-weight: 100;
}

.section-about__content p{
    text-align: center;
    max-width: 650px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 70px;
    font-size: 18px;
}

.section-about__image{
    display: flex;
}

.section-about__image img{
    border-radius: 100%;
    width: 70%;
}

.section-about__image img:hover{
    box-shadow: 1px 1px 40px var(--black);
    transition: all 0.5s ease;
}

.section-about__card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    background-color: var(--green);
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.btn:hover{
    background-color: var(--green-light);
    transition: all 0.5s ease;
}

.section-shop{
    background-color: var(--light-blue);
    padding: 70px 0 70px 0;
}

.section-shop__content h2{
    text-align: center;
    font-size: 50px;
    margin: auto;
    font-weight: 100;
}

.section-shop__content p{
    text-align: center;
    font-size: 18px;
    max-width: 650px;
    margin: auto;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 40px;
}

.section-cards{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card{
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid var(--gray-light);
}

.card:hover{
    box-shadow: 4px 4px 12px var(--black);
    transition: all 0.5s ease;
}

.card-body{
    padding: 17px 12px;
}

.card img{
    width: 100%;
}

.card-start{
    display: flex;
    justify-content: space-between;
}

.card-icons i{
    font-size: 25px;
}

.card-start span{
    font-size: 20px;
}

.card h3{
    font-size: 30px;
    font-weight: 100;
    margin: 0;
    margin-top: 20px;
}

.card p{
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    line-height: 30px;
    margin-bottom: 20px;
}

.card span{
    color: var(--gray);
}

.section-footer{
    background-color: var(--black);
    padding: 40px 0 40px 0;
}


.section-footer__information{
    display: flex;
    flex-direction: column;
    line-height: 40px;
}


.section-footer__information h2{
    color: var(--green);
    font-size: 35px;
}

.section-footer__information a{
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
}

.section-footer__content{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.section-footer__information a:hover{
    color: var(--green);
}

.section-footer__information i{
    margin: 0 10px 0 0;
}

.section-footer__information span{
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
}

.section-footer__products h3{
    margin: 0;
    font-size: 35px;
    color: var(--gray-light);
}

.section-footer__products ul{
    padding: 0;
}

.section-footer__products ul li{
    list-style: none;
}

.section-footer__products ul li a{
    color: var(--gray-light);
    text-decoration: none;
    line-height: 30px;
}

.section-footer__products ul li a:hover{
    color: var(--green);
}

.section-footer__info h3{
    margin: 0;
    font-size: 35px;
    color: var(--gray-light);
}

.section-footer__info ul{
    padding: 0;
}

.section-footer__info ul li{
    list-style: none;
}

.section-footer__info ul li a{
    color: var(--gray-light);
    text-decoration: none;
    line-height: 30px;
}

.section-footer__info ul li a:hover{
    color: var(--green);
}

form input:nth-child(1){
    background-color: transparent;
    border: 1px solid var(--coffe);
    border-radius: 3px;
    padding: 5px;
}

form input:nth-child(2){
    background-color: var(--green);
    color: var(--white);
    border: none;
    margin-left: -8px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

form input:nth-child(2):hover{
    background-color: var(--green-light);
    cursor: pointer;
    transition: all 0.5s ease;
}

.section-footer__final{
    display: flex;
    justify-content: space-around;
}

.section-footer__icons a i{
    font-size: 30px;
    margin:  0 20px ;
}

.section-footer__copy{
    background-color: var(--blue-dark);
    padding: 25px;
}

.section-footer__copy span{
    color: var(--white);
    margin-left: 160px;
}









